<div class="tab">ROOF SUPPORT LEG:
    <h1>PONTOON VOLUME</h1>
    <p><input placeholder="h1..." name="h1"></p>
    <p><input placeholder="h2..." name="h2"></p>
    <p><input placeholder="h3..." name="h3"></p>
    <p><input placeholder="v1..." name="v1"></p>
    <p><input placeholder="v2" name="v2"></p>
    <p><input placeholder="v3" name="v3"></p>
    <p><input placeholder="tp..." name="tp"></p>
    <p><input placeholder="vol" name="vol"></p>


</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>SETTING DECK LEVEL</h1>
    <p><input placeholder="tde" name="tde"></p>
    <p><input placeholder="dd" name="dd"></p>
    <p><input placeholder="pdv" name="pdv"></p>
    <p><input placeholder="dp" name="dp"></p>
    <p><input placeholder="dlh" name="dlh2"></p>



</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>Normal operation floatation level for roof – Pontoon & Deck</h1>
    <p><input placeholder="v12..." name="v12 "></p>
    <p><input placeholder="va..." name="va"></p>
    <p><input placeholder="vr..." name="vr"></p>
    <p><input placeholder="d(deck)..." name="d12"></p>


</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>FLOATATION LEVEL FOR ROOF - PONTOON & DECK FOR 10" (254MM) OF ACCUMULATED RAIN WATER</h1>
    <p><input placeholder="hrain..." name="hrain"></p>
    <p><input placeholder="Adeck..." name="adeck"></p>
    <p><input placeholder="vrain..." name="vrain"></p>
    <p><input placeholder="vdisplacement..." name="vdisplacement"></p>
    <p><input placeholder="h(rain)" name="hrain2"></p>



</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>Weight Calculation</h1>
    <p><input placeholder="t..." name="t"></p>
    <p><input placeholder="alpha..." name="alpha"></p>
    <p><input placeholder="q1..." name="q1"></p>
    <p><input placeholder="poisson's ratio..." name="pr"></p>
    <p><input placeholder="Modulus of Elasticity" name="e"></p>
    <p><input placeholder="k1" name="k1"></p>
    <p><input placeholder="k2..." name="k2"></p>
    <p><input placeholder="k31" name="k31"></p>
    <p><input placeholder="k41" name="k41"></p>
    <p><input placeholder="k32..." name="k32"></p>
    <p><input placeholder="k42" name="k42"></p>

</div>

<div class="tab">ROOF SUPPORT LEG:
    <h1>PONTOON STRESS DESIGN</h1>
    <p><input placeholder="Nominal diameter of Inner Rim..." name="pdir"></p>
    <p><input placeholder="pontoon inside width..." name="piw"></p>
    <p><input placeholder="Inner Rim Thickness" name="ptir"></p>
    <p><input placeholder="Outer Rim Thickness..." name="ptor"></p>
    <p><input placeholder="Top Pontoon Thk" name="pttp"></p>
    <p><input placeholder="Btm Pontoon Thk" name="ptbp"></p>
    <p><input placeholder="Top Pontoon slope angle..." name="tpsa"></p>
    <p><input placeholder="Backslope angle" name="ba"></p>
    <p><input placeholder="Top pontoon length" name="tpl"></p>
    <p><input placeholder="Btm pontoon length..." name="bpl"></p>
    <p><input placeholder="Outer rim height" name="horwep"></p>
    <p><input placeholder="Inner rim height..." name="phir"></p>

</div>