<div class="tab">ROOF SUPPORT LEG:
    <h1>Weight Calculation</h1>
    <p><input placeholder="h1..." name="h1"></p>
    <p><input placeholder="h2..." name="h2"></p>
    <p><input placeholder="h3..." name="h3"></p>
    <p><input placeholder="v1..." name="v1"></p>
    <p><input placeholder="v2" name="v2"></p>
    <p><input placeholder="v3" name="v3"></p>
    <p><input placeholder="tp..." name="tp"></p>
    <p><input placeholder="vol'" name="vol'"></p>


</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>Weight Calculation</h1>
    <p><input placeholder="td..." name="td"></p>
    <p><input placeholder="dd..." name="dd"></p>
    <p><input placeholder="pdv..." name="irw"></p>
    <p><input placeholder="orw..." name="orw"></p>
    <p><input placeholder="bw'" name="bw"></p>
    <p><input placeholder="dpw" name="dpw"></p>
    <p><input placeholder="plw..." name="plw"></p>
    <p><input placeholder="plhw'" name="plhw'"></p>
    <p><input placeholder="dlw" name="dlw"></p>
    <p><input placeholder="dlhw..." name="dlhw"></p>
    <p><input placeholder="paw'" name="paw'"></p>
    <p><input placeholder="daw" name="daw"></p>
    <p><input placeholder="rw'" name="rw'"></p>
    <p><input placeholder="pw" name="pw"></p>


</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>Weight Calculation</h1>
    <p><input placeholder="tpw..." name="tpw"></p>
    <p><input placeholder="bpw..." name="bpw"></p>
    <p><input placeholder="irw..." name="irw"></p>
    <p><input placeholder="orw..." name="orw"></p>
    <p><input placeholder="bw'" name="bw"></p>
    <p><input placeholder="dpw" name="dpw"></p>
    <p><input placeholder="plw..." name="plw"></p>
    <p><input placeholder="plhw'" name="plhw'"></p>
    <p><input placeholder="dlw" name="dlw"></p>
    <p><input placeholder="dlhw..." name="dlhw"></p>
    <p><input placeholder="paw'" name="paw'"></p>
    <p><input placeholder="daw" name="daw"></p>
    <p><input placeholder="rw'" name="rw'"></p>
    <p><input placeholder="pw" name="pw"></p>


</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>Weight Calculation</h1>
    <p><input placeholder="tpw..." name="tpw"></p>
    <p><input placeholder="bpw..." name="bpw"></p>
    <p><input placeholder="irw..." name="irw"></p>
    <p><input placeholder="orw..." name="orw"></p>
    <p><input placeholder="bw'" name="bw"></p>
    <p><input placeholder="dpw" name="dpw"></p>
    <p><input placeholder="plw..." name="plw"></p>
    <p><input placeholder="plhw'" name="plhw'"></p>
    <p><input placeholder="dlw" name="dlw"></p>
    <p><input placeholder="dlhw..." name="dlhw"></p>
    <p><input placeholder="paw'" name="paw'"></p>
    <p><input placeholder="daw" name="daw"></p>
    <p><input placeholder="rw'" name="rw'"></p>
    <p><input placeholder="pw" name="pw"></p>


</div>
<div class="tab">ROOF SUPPORT LEG:
    <h1>Weight Calculation</h1>
    <p><input placeholder="tpw..." name="tpw"></p>
    <p><input placeholder="bpw..." name="bpw"></p>
    <p><input placeholder="irw..." name="irw"></p>
    <p><input placeholder="orw..." name="orw"></p>
    <p><input placeholder="bw'" name="bw"></p>
    <p><input placeholder="dpw" name="dpw"></p>
    <p><input placeholder="plw..." name="plw"></p>
    <p><input placeholder="plhw'" name="plhw'"></p>
    <p><input placeholder="dlw" name="dlw"></p>
    <p><input placeholder="dlhw..." name="dlhw"></p>
    <p><input placeholder="paw'" name="paw'"></p>
    <p><input placeholder="daw" name="daw"></p>
    <p><input placeholder="rw'" name="rw'"></p>
    <p><input placeholder="pw" name="pw"></p>


</div>