<h2>SETTING DECK LEVEL:</h2>
        <h3>CENTRE DECK STRESS DESIGN DATA</h3>
<label for="t">Plate thickness Deck, t </label><br/>
<p><input id="t" name="t" placeholder="t..."/></p>
<label for="alpha">Outer radius of the deck plate,α(alpha) </label><br/>
<p><input id="alpha" name="alpha" placeholder="alpha..." readonly=""/></p>
<label for="pr"> Poisson's ratio,ν</label><br/>
<p><input id="pr" name="pr" onchange="centreDeckStress()" placeholder="poisson's ratio..."/></p>
<label for="e"> Modulus of Elasticity,E</label><br/>
<p><input id="e" name="e" onchange="noRainWater()" placeholder="Modulus of Elasticity"/></p>
<label for="k1">K1 </label><br/>
<p><input id="k1" name="k1" placeholder="k1" readonly=""/></p>
<label for="k2"> k2</label><br/>
<p><input id="k2" name="k2" placeholder="k2..." readonly=""/></p>
<label for="k31"> k31 </label><br/>
<p><input id="k31" name="k31" placeholder="k31" readonly=""/></p>
<label for="k41"> k41</label><br/>
<p><input id="k41" name="k41" placeholder="k41" readonly=""/></p>
<label for="k32"> k32</label><br/>
<p><input id="k32" name="k32" placeholder="k32..." readonly=""/></p>
<label for="k42"> k42</label><br/>
<p><input id="k42" name="k42" placeholder="k42" readonly=""/></p>
