
<h3 style="color: #818cf8">Deck load on one leg,(KN)</h3>

<label for="ll1" id="ll01">LL1</label><br/>
<p><input id="ll1"/></p>

<label for="ll2" id="ll02">LL2</label><br/>
<p><input id="ll2"/></p>

<label for="ll3" id="ll03">LL3</label><br/>
<p><input id="ll3"/></p>

<label for="ll4" id="ll04">LL4</label><br/>
<p><input id="ll4"/></p>

<label for="ll5" id="ll05">LL5</label><br/>
<p><input id="ll5"/></p>

<label for="ll6" id="ll06">LL6</label><br/>
<p><input id="ll6"/></p>

<label for="ll7" id="ll07">LL7</label><br/>
<p><input id="ll7"/></p>

<label for="ll8" id="ll08">LL8</label><br/>
<p><input id="ll8"/></p>

<label for="ll9" id="ll09">LL9</label><br/>
<p><input id="ll9"/></p>

<label for="ll10" id="ll010">LL10</label><br/>
<p><input id="ll10"/></p>

<label for="ll11" id="ll011">LL11</label><br/>
<p><input id="ll11"/></p>

<label for="ll12" id="ll012">LL12</label><br/>
<p><input id="ll12"/></p>

<label for="ll13" id="ll013">LL13</label><br/>
<p><input id="ll13"/></p>

<label for="ll14" id="ll014">LL14</label><br/>
<p><input id="ll14"/></p>

<label for="ll15" id="ll015">LL15</label><br/>
<p><input id="ll15"/></p>




