<h2>SETTING DECK LEVEL:</h2>
        <h3>CENTRE DECK STRESS DESIGN CASE 2 10" RAIN WATER</h3>
<label for="hrain1">Rain accumulation of 10” (254 mm)</label><br/>
<p><input id="hrain1" name="hrain1" onchange="rainWater()"/></p>
<label for="adeck1">deck area</label><br/>
<p><input id="adeck1" name="adeck1"/></p>
<label for="vrain1">Volume of rain water</label><br/>
<p><input id="vrain1" name="vrain1"/></p>
<label for="wrain">Weight of 10" accumulated rain water </label><br/>
<p><input id="wrain" name="wrain"/></p>
<label for="ubl">Upward buoyant load </label><br/>
<p><input id="ubl" name="ubl"/></p>
<label for="dl">Downward load1</label><br/>
<p><input id="dl" name="dl"/></p>
<label for="ndfad">Nett downward force acting on deck </label><br/>
<p><input id="ndfad" name="ndfad"/></p>
<label for="q2">Unit lateral pressure</label><br/>
<p><input id="q2" name="q2"/></p>
