
<h3 style="color: #818cf8">Total load on one leg(KN)</h3>

<label for="tl1" id="tl01">TL1</label><br/>
<p><input id="tl1"/></p>


<label for="tl2" id="tl02">tl2</label><br/>
<p><input id="tl2"/></p>

<label for="tl3" id="tl03">tl3</label><br/>
<p><input id="tl3"/></p>

<label for="tl4" id="tl04">tl4</label><br/>
<p><input id="tl4"/></p>

<label for="tl5" id="tl05">tl5</label><br/>
<p><input id="tl5"/></p>

<label for="tl6" id="tl06">tl6</label><br/>
<p><input id="tl6"/></p>

<label for="tl7" id="tl07">tl7</label><br/>
<p><input id="tl7"/></p>

<label for="tl8" id="tl08">tl8</label><br/>
<p><input id="tl8"/></p>

<label for="tl9" id="tl09">tl9</label><br/>
<p><input id="tl9"/></p>

<label for="tl10" id="tl010">tl10</label><br/>
<p><input id="tl10"/></p>

<label for="tl11" id="tl011">tl11</label><br/>
<p><input id="tl11"/></p>

<label for="tl12" id="tl012">tl12</label><br/>
<p><input id="tl12"/></p>

<label for="tl13" id="tl013">tl13</label><br/>
<p><input id="tl13"/></p>

<label for="tl14" id="tl014">tl14</label><br/>
<p><input id="tl14"/></p>

<label for="tl15" id="tl015">tl15</label><br/>
<p><input id="tl15"/></p>




