<div class="d-flex gap-2">
        <h2>Operation floatation level – Deck</h2>
        <i class="fa fa-question-circle-o"></i>
        <button type="button" class="btn btn-outline-success rounded-circle pb-0 pt-0 d-inline-flex align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#fig3Modal">
                <img src="{{ asset('images/question-mark.svg') }}" alt="fig3" width="20" height="20">
        </button>
</div>
{% include "/form-fragments/help-picture.fragment.html.twig" with {
        "modalId": "fig3Modal",
        "imageSrc": asset('images/3.png'),
} %}


<label for="tde"> equivalent thickness , Td(equivalent)</label><br/>
<p><input id="tde" name="tde" placeholder="tde" readonly=""/></p>
<label for="dd">Floatation height above deck ,H(deck) </label><br/>
<p><input id="dd" name="dd" placeholder="dd" readonly=""/></p>
<h1>Operation floatation level – Pontoon</h1>
<label for="pdv"> Product Displacement, Vdisplacement (pontoon),pdv</label><br/>
<p><input id="pdv" name="pdv" placeholder="pdv" readonly=""/></p>
<label for="dp"> D(pontoon)</label><br/>
<p><input id="dp" name="dp" placeholder="dp" readonly=""/></p>
<label for="diffh">The difference of floattion depth in pontoon &amp; deck </label><br/>
<p><input id="diffh" name="dlh2" placeholder="dlh" readonly=""/></p>
