<h2>SETTING DECK LEVEL:</h2>
        <h3>CENTRE DECK STRESS DESIGN CASE 1 NO RAIN WATER</h3>
<label for="q1">Unit lateral pressure (equiv. weight of deck + live load that float on product)</label><br/>
<p><input id="q1" name="q1"/></p>
<label for="y1">maximum deflection,y1</label><br/>
<p><input id="y1" name="y1"/></p>
<label for="otc1">σtotal center 1</label><br/>
<p><input id="otc1" name="otc1"/></p>
<label for="obc1">σbending center 1</label><br/>
<p><input id="obc1" name="obc1"/></p>
<label for="odc1">σdiaphgram center 1 </label><br/>
<p><input id="odc1" name="odc1"/></p>
<label for="ote1">σtotal edge1</label><br/>
<p><input id="ote1" name="ote1"/></p>
<label for="obe1">σbending edge 1</label><br/>
<p><input id="obe1" name="obe1"/></p>
<label for="ode1">σdiaphgram edge 1</label><br/>
<p><input id="ode1" name="ode1"/></p>
<label for="rh1">Radial load on rim,Rh1</label><br/>
<p><input id="rh1" name="rh1"/></p>
