<div class="d-flex gap-2">
        <h2>PONTOON VOLUME</h2>
        <i class="fa fa-question-circle-o"></i>
        <button type="button" class="btn btn-outline-success rounded-circle pb-0 pt-0 d-inline-flex align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#fig2Modal">
                <img src="{{ asset('images/question-mark.svg') }}" alt="fig2" width="20" height="20">
        </button>
</div>
{% include "/form-fragments/help-picture.fragment.html.twig" with {
        "modalId": "fig2Modal",
        "imageSrc": asset('images/2.png'),
} %}

<label for="h1"> h1 </label><br/>
<p><input id="h1" name="h1" placeholder="h1..."/></p>
<label for="h2"> h2 </label><br/>
<p><input id="h2" name="h2" onchange="volume1()" placeholder="h2..."/></p>
<label for="h3"> h3 </label><br/>
<p><input id="h3" name="h3" onchange="volume3();tdE();operationFloatationLevel()" placeholder="h3..."/></p>
<label for="v1"> Volume 1 ,V1 </label><br/>
<p><input id="v1" name="v1" placeholder="v1..." readonly=""/></p>
<label for="v2"> Volume 2 ,V2 </label><br/>
<p><input id="v2" name="v2" placeholder="v2" readonly=""/></p>
<label for="v3"> Volume 3 ,V3 </label><br/>
<p><input id="v3" name="v3" placeholder="v3" readonly=""/></p>
<label for="vol"> Total pontoon Volume, Vol</label><br/>
<p><input id="vol" name="vol" placeholder="vol" readonly=""/></p>
