
<div class="d-flex gap-2">
        <h2>PONTOON STRESS DESIGN</h2>
        <i class="fa fa-question-circle-o"></i>
        <button type="button" class="btn btn-outline-success rounded-circle pb-0 pt-0 d-inline-flex align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#fig5Modal">
                <img src="{{ asset('images/question-mark.svg') }}" alt="fig5" width="20" height="20">
        </button>
</div>
{% include "/form-fragments/help-picture.fragment.html.twig" with {
        "modalId": "fig5Modal",
        "imageSrc": asset('images/5.png'),
} %}

<h3>PONTOON PROPERTIES</h3>
<label for="pdir">Nominal diameter of Inner Rim</label><br/>
<p><input id="pdir" name="pdir" placeholder="Nominal diameter of Inner Rim..."/></p>
<label for="piw">pontoon inside width</label><br/>
<p><input id="piw" name="piw" placeholder="pontoon inside width..."/></p>
<label for="ptir">Inner Rim Thickness</label><br/>
<p><input id="ptir" name="ptir" placeholder="Inner Rim Thickness"/></p>
<label for="ptor">Outer Rim Thickness</label><br/>
<p><input id="ptor" name="ptor" placeholder="Outer Rim Thickness..."/></p>
<label for="pttp">Top Pontoon Thk</label><br/>
<p><input id="pttp" name="pttp" placeholder="Top Pontoon Thk"/></p>
<label for="ptbp">Btm Pontoon Thk</label><br/>
<p><input id="ptbp" name="ptbp" placeholder="Btm Pontoon Thk"/></p>
<label for="tpsa">Top Pontoon slope angle</label><br/>
<p><input id="tpsa" name="tpsa" placeholder="Top Pontoon slope angle..."/></p>
<label for="ba">Backslope angle</label><br/>
<p><input id="ba" name="ba" placeholder="Backslope angle"/></p>
<label for="tpl">Top pontoon length</label><br/>
<p><input id="tpl" name="tpl" placeholder="Top pontoon length"/></p>
<label for="bpl">Btm pontoon length</label><br/>
<p><input id="bpl" name="bpl" placeholder="Btm pontoon length..."/></p>
<label for="horwep">Outer rim height</label><br/>
<p><input id="horwep" name="horwep" placeholder="Outer rim height"/></p>
<label for="phir">Inner rim height</label><br/>
<p><input id="phir" name="phir" onchange="myFunction()" placeholder="Inner rim height..."/></p>
