
<h2 style="color: #818cf8">Deck load on one leg,(KN)</h2>


<label for="dl1" id="dl01">Dl1</label><br/>
<p><input id="dl1"/></p>
<label for="dl2" id="dl02">Dl2</label><br/>
<p><input id="dl2"/></p>
<label for="dl3" id="dl03">Dl3</label><br/>
<p><input id="dl3"/></p>
<label for="dl4" id="dl04">Dl4</label><br/>
<p><input id="dl4"/></p>
<label for="dl5" id="dl05">DL5</label><br/>
<p><input id="dl5"/></p>
<label for="dl6" id="dl06">DL6</label><br/>
<p><input id="dl6"/></p>
<label for="dl7" id="dl07">DL7</label><br/>
<p><input id="dl7"/></p>
<label for="dl8" id="dl08">DL8</label><br/>
<p><input id="dl8"/></p>
<label for="dl9" id="dl09">DL9</label><br/>
<p><input id="dl9"/></p>
<label for="dl10" id="dl010">A10</label><br/>
<p><input id="dl10"/></p>
<label for="dl11" id="dl011">A11</label><br/>
<p><input id="dl11"/></p>
<label for="dl12" id="dl012">A12</label><br/>
<p><input id="dl12"/></p>
<label for="dl13" id="dl013">A13</label><br/>
<p><input id="dl13"/></p>
<label for="dl14" id="dl014">A14</label><br/>
<p><input id="dl14"/></p>
<label for="dl15" id="dl015">A15</label><br/>
<p><input id="dl15"/></p>
