ROOF SUPPORT LEG:
        <h1>Deck LEG</h1>
<label for="nd"> No. of Deck Leg </label><br/>
<p><input id="nd" name="Nd" placeholder="Nd..."/></p>
<label for="dls"> Deck leg size,Dls </label><br/>
<p><input id="dls" name="Dls" placeholder="Dls..."/></p>
<label for="DlsSch"> pipe*sch </label><br/>
<p><input id="DlsSch" name="DlsSch" placeholder="DlsSch..."/></p>
<label for="DlsWeight"> at unit weight of </label><br/>
<p><input id="DlsWeight" name="DlsWeight" placeholder="DlsWeight"/></p>
<label for="dlh"> Deck leg housing </label><br/>
<p><input id="dlh" name="Dlh" placeholder="Dlh..."/></p>
<label for="DlhSch"> pipe*sch </label><br/>
<p><input id="DlhSch" name="DlhSch" placeholder="DlhSch"/></p>
<label for="DlhWeight"> at unit weight of </label><br/>
<p><input id="DlhWeight" name="DlhWeight" placeholder="DlhWeight..."/></p>
<label for="dll"> Deck leg length </label><br/>
<p><input id="dll" name="Dll" placeholder="Dll"/></p>
<label for="dlhl"> Deck leg housing length </label><br/>
<p><input id="dlhl" name="Dlhl" onchange="deckLegs();deckLegsHousing()" placeholder="Dlhl"/></p>
