
<h2>PONTOON RESULT</h2>
<table>
<tr>
<th>Ring stability check</th>
<th>Mid-Point</th>
<th>Load-Point</th>
</tr>
<tr>
<td>Bending moment (N.mm)</td>
<td><input id="c11"/></td>
<td><input id="c12"/></td>
</tr>
<tr>
<td>Circumferential force (N)</td>
<td><input id="c21"/></td>
<td><input id="c22"/></td>
</tr>
<tr>
<td>Bending stress (N/mm^2)</td>
<td><input id="c31"/></td>
<td><input id="c32"/></td>
</tr>
<tr>
<td>Circumferential stress (N/mm^2)</td>
<td><input id="c41"/></td>
<td><input id="c42"/></td>
</tr>
<tr>
<td>Allow. Bending stress (N/mm^2)</td>
<td><input id="c51"/></td>
<td><input id="c52"/></td>
</tr>
<tr>
<td>Allow. Axial stress (N/mm^2)</td>
<td><input id="c61"/></td>
<td><input id="c62"/></td>
</tr>
<tr>
<td>Unity Check</td>
<td><input id="c71"/></td>
<td><input id="c72"/></td>
</tr>
<tr>
<td>Condition</td>
<td><input id="c81"/></td>
<td><input id="c82"/></td>
</tr>
</table>
