
<h3 style="color: #818cf8">Deck area on each leg, Ai'(mm2)</h3>
<label for="aieff1" id="aieff01">A1eff</label><br/>
<p><input id="aieff1"/></p>
<label for="aieff2" id="aieff02">A2eff</label><br/>
<p><input id="aieff2"/></p>
<label for="aieff3" id="aieff03">A3eff</label><br/>
<p><input id="aieff3"/></p>
<label for="aieff4" id="aieff04">A4eff</label><br/>
<p><input id="aieff4"/></p>
<label for="aieff5" id="aieff05">A5eff</label><br/>
<p><input id="aieff5"/></p>
<label for="aieff6" id="aieff06">A6eff</label><br/>
<p><input id="aieff6"/></p>
<label for="aieff7" id="aieff07">A7eff</label><br/>
<p><input id="aieff7"/></p>
<label for="aieff8" id="aieff08">A8eff</label><br/>
<p><input id="aieff8"/></p>
<label for="aieff9" id="aieff09">A9eff</label><br/>
<p><input id="aieff9"/></p>
<label for="aieff10" id="aieff010">A10eff</label><br/>
<p><input id="aieff10"/></p>
<label for="aieff11" id="aieff011">A11eff</label><br/>
<p><input id="aieff11"/></p>
<label for="aieff12" id="aieff012">A12eff</label><br/>
<p><input id="aieff12"/></p>
<label for="aieff13" id="aieff013">A13eff</label><br/>
<p><input id="aieff13"/></p>
<label for="aieff14" id="aieff014">A14eff</label><br/>
<p><input id="aieff14"/></p>
<label for="aieff15" id="aieff015">A15eff</label><br/>
<p><input id="aieff15"/></p>
