SETTING DECK LEVEL:
        <h1>CENTRE DECK STRESS DESIGN CASE 1 NO RAIN WATER</h1>
<label for="y2">maximum deflection</label><br/>
<p><input id="y2" name="y2"/></p>
<label for="otc2">σtotal center 2</label><br/>
<p><input id="otc2" name="otc2"/></p>
<label for="obc2">σbending center 2</label><br/>
<p><input id="obc2" name="obc2"/></p>
<label for="odc2">σdiaphgram center 2 </label><br/>
<p><input id="odc2" name="odc2"/></p>
<label for="ote2">σtotal edge2</label><br/>
<p><input id="ote2" name="ote2"/></p>
<label for="obe2">σbending edge 2</label><br/>
<p><input id="obe2" name="obe2"/></p>
<label for="ode2">σdiaphgram edge 2</label><br/>
<p><input id="ode2" name="ode2"/></p>
<label for="rh2">Radial load on rim,Rh2</label><br/>
<p><input id="rh2" name="rh2"/></p>
