
<h1>testing number</h1>
<label for="1" id="01">Nos at R1</label><br/>
<p><input id="1"/></p>
<label for="2" id="02">Nos at R2</label><br/>
<p><input id="2"/></p>
<label for="3" id="03">Nos at R3</label><br/>
<p><input id="3"/></p>
<label for="4" id="04">Nos at R4</label><br/>
<p><input id="4"/></p>
<label for="5" id="05">Nos at R5</label><br/>
<p><input id="5"/></p>
<label for="6" id="06">Nos at R6</label><br/>
<p><input id="6"/></p>
<label for="47" id="07">Nos at R7</label><br/>
<p><input id="7"/></p>
<label for="48" id="08">Nos at R8</label><br/>
<p><input id="8"/></p>
<label for="49" id="09">Nos at R9</label><br/>
<p><input id="49"/></p>
<label for="410" id="0410">Nos at R10</label><br/>
<p><input id="410"/></p>
<label for="411" id="0411">Nos at R11</label><br/>
<p><input id="411"/></p>
<label for="412" id="0412">Nos at R12</label><br/>
<p><input id="412"/></p>
<label for="413" id="0413">Nos at R13</label><br/>
<p><input id="413"/></p>
<label for="414" id="0414">Nos at R14</label><br/>
<p><input id="414"/></p>
<label for="415" id="0415">Nos at R15</label><br/>
<p><input id="415"/></p>
