<h2>Allowable Stress</h2>
<label for="elf">the effective length factor </label><br/>
<p><input onchange="allowableStress()" id="elf" name="elf"/></p>
<label for="sr">Slenderness ratio</label><br/>
<p><input id="sr" name="sr"/></p>
<label for="cc">CC</label><br/>
<p><input id="cc" name="cc"/></p>
<label for="scall">Allowable Stress</label><br/>
<p><input id="scall" name="scall"/></p>


<label for="as1" id="as01">P1 Compared to allowable stress</label><br/>
<p><input id="as1"/></p>
<label for="as2" id="as02">P2 Compared to allowable stress</label><br/>
<p><input id="as2"/></p>
<label for="as3" id="as03">P3 Compared to allowable stress</label><br/>
<p><input id="as3"/></p>
<label for="as4" id="as04">P4 Compared to allowable stress</label><br/>
<p><input id="as4"/></p>
<label for="as5" id="as05">P5 Compared to allowable stress</label><br/>
<p><input id="as5"/></p>
<label for="as6" id="as06">P6 Compared to allowable stress</label><br/>
<p><input id="as6"/></p>
<label for="as7" id="as07">P7 Compared to allowable stress</label><br/>
<p><input id="as7"/></p>
<label for="as8" id="as08">P8 Compared to allowable stress</label><br/>
<p><input id="as8"/></p>
<label for="as9" id="as09">P9 Compared to allowable stress</label><br/>
<p><input id="as9"/></p>
<label for="as10" id="as010">P10 Compared to allowable stress</label><br/>
<p><input id="as10"/></p>
<label for="as11" id="as011">P11 Compared to allowable stress</label><br/>
<p><input id="as11"/></p>
<label for="as12" id="as012">P12 Compared to allowable stress</label><br/>
<p><input id="as12"/></p>
<label for="as13" id="as013">P13 Compared to allowable stress</label><br/>
<p><input id="as13"/></p>
<label for="as14" id="as014">P14 Compared to allowable stress</label><br/>
<p><input id="as14"/></p>
<label for="as15" id="as015">P15 Compared to allowable stress</label><br/>
<p><input id="as15"/></p>