ROOF SUPPORT LEG:
        <h1>PONTOON VOLUME</h1>
<label for="h1"> h1 </label><br/>
<p><input id="h1" name="h1" placeholder="h1..."/></p>
<label for="h2"> h2 </label><br/>
<p><input id="h2" name="h2" onchange="volume1()" placeholder="h2..."/></p>
<label for="h3"> h3 </label><br/>
<p><input id="h3" name="h3" onchange="volume3();tdE();operationFloatationLevel()" placeholder="h3..."/></p>
<label for="v1"> Volume 1 ,V1 </label><br/>
<p><input id="v1" name="v1" placeholder="v1..." readonly=""/></p>
<label for="v2"> Volume 2 ,V2 </label><br/>
<p><input id="v2" name="v2" placeholder="v2" readonly=""/></p>
<label for="v3"> Volume 3 ,V3 </label><br/>
<p><input id="v3" name="v3" placeholder="v3" readonly=""/></p>
<label for="vol"> Total pontoon Volume, Vol</label><br/>
<p><input id="vol" name="vol" placeholder="vol" readonly=""/></p>
