
<h2 style="color: #818cf8">Stress on support leg at Ri,Pi(N/mm2)</h2>

<label for="p1" id="p01">p1</label><br/>
<p><input id="p1"/></p>

<label for="p2" id="p02">p2</label><br/>
<p><input id="p2"/></p>

<label for="p3" id="p03">p3</label><br/>
<p><input id="p3"/></p>

<label for="p4" id="p04">p4</label><br/>
<p><input id="p4"/></p>

<label for="p5" id="p05">p5</label><br/>
<p><input id="p5"/></p>

<label for="p6" id="p06">p6</label><br/>
<p><input id="p6"/></p>

<label for="p7" id="p07">p7</label><br/>
<p><input id="p7"/></p>

<label for="p8" id="p08">p8</label><br/>
<p><input id="p8"/></p>

<label for="p9" id="p09">p9</label><br/>
<p><input id="p9"/></p>

<label for="p10" id="p010">p10</label><br/>
<p><input id="p10"/></p>

<label for="p11" id="p011">p11</label><br/>
<p><input id="p11"/></p>

<label for="p12" id="p012">p12</label><br/>
<p><input id="p12"/></p>

<label for="p13" id="p013">p13</label><br/>
<p><input id="p13"/></p>

<label for="p14" id="p014">p14</label><br/>
<p><input id="p14"/></p>

<label for="p15" id="p015">p15</label><br/>
<p><input id="p15"/></p>




