SETTING DECK LEVEL:
        <h1>Operation floatation level – Deck</h1>
<label for="v12">Volume Displaced by the Backslope,v1 </label><br/>
<p><input id="v12" name="v12 " placeholder="Volume Displaced by the Backslope..." readonly=""/></p>
<label for="va">Partial volume displaced in pontoon below the deck level, Va </label><br/>
<p><input id="va" name="va" placeholder="va..." readonly=""/></p>
<label for="vr"> Total Volume Displaced by the roof ,V(roof),vr </label><br/>
<p><input id="vr" name="vr" placeholder="vr..."/></p>
<label for="hdeck"> Floatation height above deck ,H(deck) </label><br/>
<p><input id="hdeck" name="d12" placeholder="h(deck)..." readonly=""/></p>
