SETTING DECK LEVEL:
        <h1>FLOATATION LEVEL FOR ROOF - PONTOON &amp; DECK FOR 10" (254MM) OF ACCUMULATED RAIN WATER</h1>
<label for="hrain">Rain accumulation of 10” (254 mm) ,Hrain </label><br/>
<p><input id="hrain" name="hrain" onchange="accumulatedRainWater()" placeholder="hrain..."/></p>
<label for="adeck">Deck area,Adeck </label><br/>
<p><input id="adeck" name="adeck" placeholder="Adeck..." readonly=""/></p>
<label for="">Volume of rain water,Vrain </label><br/>
<p><input id="vrain" name="vrain" placeholder="vrain..." readonly=""/></p>
<label for="vdisplacement"> vdisplacement</label><br/>
<p><input id="vdisplacement" name="vdisplacement" placeholder="vdisplacement..." readonly=""/></p>
<label for="hdeckr"> Floatation Height above Deck, H(deck with rain), hdeckr</label><br/>
<p><input id="hdeckr" name="hrain2" placeholder="h(rain)" readonly=""/></p>
