
<h3 style="color: #818cf8">Support leg length at Ri</h3>
<label for="lsp1" id="lsp01">lsp1</label><br/>
<p><input id="lsp1"/></p>
<label for="lsp2" id="lsp02">lsp2</label><br/>
<p><input id="lsp2"/></p>
<label for="lsp3" id="lsp03">lsp3</label><br/>
<p><input id="lsp3"/></p>
<label for="lsp4" id="lsp04">lsp4</label><br/>
<p><input id="lsp4"/></p>
<label for="lsp5" id="lsp05">lsp5</label><br/>
<p><input id="lsp5"/></p>
<label for="lsp6" id="lsp06">lsp6</label><br/>
<p><input id="lsp6"/></p>
<label for="lsp7" id="lsp07">lsp7</label><br/>
<p><input id="lsp7"/></p>
<label for="lsp8" id="lsp08">lsp8</label><br/>
<p><input id="lsp8"/></p>
<label for="lsp9" id="lsp09">lsp9</label><br/>
<p><input id="lsp9"/></p>
<label for="lsp10" id="lsp010">lsp10</label><br/>
<p><input id="lsp10"/></p>
<label for="lsp11" id="lsp011">lsp11</label><br/>
<p><input id="lsp11"/></p>
<label for="lsp12" id="lsp012">lsp12</label><br/>
<p><input id="lsp12"/></p>
<label for="lsp13" id="lsp013">lsp13</label><br/>
<p><input id="lsp13"/></p>
<label for="lsp14" id="lsp014">lsp14</label><br/>
<p><input id="lsp14"/></p>
<label for="lsp15" id="lsp015">lsp15</label><br/>
<p><input id="lsp15"/></p>
