<h2 style="color: #818cf8">Number of leg at Ri</h2>
<label for="rnos1" id="r01">Nos at R1</label><br/>
<p><input id="rnos1"/></p>
<label for="rnos2" id="r02">Nos at R2</label><br/>
<p><input id="rnos2"/></p>
<label for="rnos3" id="r03">Nos at R3</label><br/>
<p><input id="rnos3"/></p>
<label for="rnos4" id="r04">Nos at R4</label><br/>
<p><input id="rnos4"/></p>
<label for="rnos5" id="r05">Nos at R5</label><br/>
<p><input id="rnos5"/></p>
<label for="rnos6" id="r06">Nos at R6</label><br/>
<p><input id="rnos6"/></p>
<label for="rnos7" id="r07">Nos at R7</label><br/>
<p><input id="rnos7"/></p>
<label for="rnos8" id="r08">Nos at R8</label><br/>
<p><input id="rnos8"/></p>
<label for="rnos9" id="r09">Nos at R9</label><br/>
<p><input id="rnos9"/></p>
<label for="rnos10" id="r010">Nos at R10</label><br/>
<p><input id="rnos10"/></p>
<label for="rnos11" id="r011">Nos at R11</label><br/>
<p><input id="rnos11"/></p>
<label for="rnos12" id="r012">Nos at R12</label><br/>
<p><input id="rnos12"/></p>
<label for="rnos13" id="r013">Nos at R13</label><br/>
<p><input id="rnos13"/></p>
<label for="rnos14" id="r014">Nos at R14</label><br/>
<p><input id="rnos14"/></p>
<label for="rnos15" id="r015">Nos at R15</label><br/>
<p><input id="rnos15"/></p>
