SETTING DECK LEVEL:
        <h1>CENTRE DECK STRESS DESIGN CASE 1 NO RAIN WATER</h1>
<label for="c1">Neutral axis of combined section</label><br/>
<p><input id="c1" name="c1"/></p>
<label for="lx">Moment of inertia of section </label><br/>
<p><input id="lx" name="lx"/></p>
<label for="za">Section modulus available, Za</label><br/>
<p><input id="za" name="za"/></p>
