SETTING DECK LEVEL:

        <h1>Operation floatation level – Deck</h1>
<label for="tde"> equivalent thickness , Td(equivalent)</label><br/>
<p><input id="tde" name="tde" placeholder="tde" readonly=""/></p>
<label for="dd">Floatation height above deck ,H(deck) </label><br/>
<p><input id="dd" name="dd" placeholder="dd" readonly=""/></p>
<h1>Operation floatation level – Pontoon</h1>
<label for="pdv"> Product Displacement, Vdisplacement (pontoon),pdv</label><br/>
<p><input id="pdv" name="pdv" placeholder="pdv" readonly=""/></p>
<label for="dp"> D(pontoon)</label><br/>
<p><input id="dp" name="dp" placeholder="dp" readonly=""/></p>
<label for="diffh">The difference of floattion depth in pontoon &amp; deck </label><br/>
<p><input id="diffh" name="dlh2" placeholder="dlh" readonly=""/></p>
