ROOF SUPPORT LEG:
        <h1>Weight Calculation</h1>
<label for="tpw"> Top Pontoon w </label><br/>
<p><input id="tpw" name="tpw" placeholder="Top Pontoon w..." readonly=""/></p>
<label for="bpw"> Bottom pontoon w </label><br/>
<p><input id="bpw" name="bpw" placeholder="Bottom pontoon w..." readonly=""/></p>
<label for="irw"> Inner rim w </label><br/>
<p><input id="irw" name="irw" placeholder="Inner rim w..." readonly=""/></p>
<label for="orw"> Outer rim w </label><br/>
<p><input id="orw" name="orw" placeholder="Outer rim w..." readonly=""/></p>
<label for="bw"> Bulkheads w </label><br/>
<p><input id="bw" name="bw" placeholder="bulheads w" readonly=""/></p>
<label for="dpw"> Deck plate w </label><br/>
<p><input id="dpw" name="dpw" placeholder="deck Plate w" readonly=""/></p>
<label for="plw"> Pontoon legs w </label><br/>
<p><input id="plw" name="plw" placeholder="pontoon legs w..." readonly=""/></p>
<label for="plhw"> Pontoon legs housing w </label><br/>
<p><input id="plhw" name="plhw'" placeholder="pontoon legs housing w" readonly=""/></p>
<label for="dlw"> Deck legs w </label><br/>
<p><input id="dlw" name="dlw" placeholder="deck legs w" readonly=""/></p>
<label for="dlhw"> Deck legs housing w </label><br/>
<p><input id="dlhw" name="dlhw" placeholder="deck legs housing w..." readonly=""/></p>
<label for="paw"> Pontoon accessories w </label><br/>
<p><input id="paw" name="paw" placeholder="paw"/></p>
<label for="daw"> Deck accessories w </label><br/>
<p><input id="daw" name="daw" onchange="rafters();wPontoon()" placeholder="daw"/></p>
<label for="rw"> Rafters w </label><br/>
<p><input id="rw" name="rw" placeholder="rafters w" readonly=""/></p>
<label for="pw"> Post w </label><br/>
<p><input id="pw" name="pw" placeholder="posts w" readonly=""/></p>
