<h2>ROOF SUPPORT LEG:</h2>
        <h3>Weight Calculation</h3>
<label for="wp"> Pontoon components,Wpontoon </label><br/>
<p><input id="wp" name="wp" placeholder="pontoon components..." readonly=""/></p>
<label for="wd"> Deck components,Wdeck </label><br/>
<p><input id="wd" name="wd" placeholder="deck components..." readonly=""/></p>
<label for="wr"> Total weight of floating roof ,Wroof </label><br/>
<p><input id="wr" name="wr" placeholder="tatal weight of floating roof..." readonly=""/></p>
