<h2 style="color: #818cf8">Number of leg at Ri</h2>
<label for="r1" id="r01">Nos at R1</label><br/>
<p><input id="r1"/></p>
<label for="r2" id="r02">Nos at R2</label><br/>
<p><input id="r2"/></p>
<label for="r3" id="r03">Nos at R3</label><br/>
<p><input id="r3"/></p>
<label for="r4" id="r04">Nos at R4</label><br/>
<p><input id="r4"/></p>
<label for="r5" id="r05">Nos at R5</label><br/>
<p><input id="r5"/></p>
<label for="r6" id="r06">Nos at R6</label><br/>
<p><input id="r6"/></p>
<label for="r7" id="r07">Nos at R7</label><br/>
<p><input id="r7"/></p>
<label for="r8" id="r08">Nos at R8</label><br/>
<p><input id="r8"/></p>
<label for="r9" id="r09">Nos at R9</label><br/>
<p><input id="r9"/></p>
<label for="r10" id="r010">Nos at R10</label><br/>
<p><input id="r10"/></p>
<label for="r11" id="r011">Nos at R11</label><br/>
<p><input id="r11"/></p>
<label for="r12" id="r012">Nos at R12</label><br/>
<p><input id="r12"/></p>
<label for="r13" id="r013">Nos at R13</label><br/>
<p><input id="r13"/></p>
<label for="r14" id="r014">Nos at R14</label><br/>
<p><input id="r14"/></p>
<label for="r15" id="r015">Nos at R15</label><br/>
<p><input id="r15"/></p>
