
<h3 style="color: #818cf8">Area of deck supported by legs At Ri Aieff </h3>
<label for="aeff1" id="aeff01">A1eff</label><br/>
<p><input id="aeff1"/></p>
<label for="aeff2" id="aeff02">A2eff</label><br/>
<p><input id="aeff2"/></p>
<label for="aeff3" id="aeff03">A3eff</label><br/>
<p><input id="aeff3"/></p>
<label for="aeff4" id="aeff04">A4eff</label><br/>
<p><input id="aeff4"/></p>
<label for="aeff5" id="aeff05">A5eff</label><br/>
<p><input id="aeff5"/></p>
<label for="aeff6" id="aeff06">A6eff</label><br/>
<p><input id="aeff6"/></p>
<label for="aeff7" id="aeff07">A7eff</label><br/>
<p><input id="aeff7"/></p>
<label for="aeff8" id="aeff08">A8eff</label><br/>
<p><input id="aeff8"/></p>
<label for="aeff9" id="aeff09">A9eff</label><br/>
<p><input id="aeff9"/></p>
<label for="aeff10" id="aeff010">A10eff</label><br/>
<p><input id="aeff10"/></p>
<label for="aeff11" id="aeff011">A11eff</label><br/>
<p><input id="aeff11"/></p>
<label for="aeff12" id="aeff012">A12eff</label><br/>
<p><input id="aeff12"/></p>
<label for="aeff13" id="aeff013">A13eff</label><br/>
<p><input id="aeff13"/></p>
<label for="aeff14" id="aeff014">A14eff</label><br/>
<p><input id="aeff14"/></p>
<label for="aeff15" id="aeff015">A15eff</label><br/>
<p><input id="aeff15"/></p>
