<h2>ROOF SUPPORT LEG:</h2>
        <h3></h3>
<label for="np"> No. of Pontoon Leg, Np </label><br/>
<p><input id="np" name="Np" placeholder="Np..."/></p>
<label for="pls"> Pontoon leg size </label><br/>
<p><input id="pls" name="Pls" placeholder="Pls..."/></p>
<label for="plssch"> pipe*sch </label><br/>
<p><input id="plssch" name="PlsSch" placeholder="PlsSch..."/></p>
<label for="plsw"> at unit weight of </label><br/>
<p><input id="plsw" name="PlsWeight" placeholder="PlsWeight..."/></p>
<label for="plh"> Pontoon leg housing </label><br/>
<p><input id="plh" name="Plh" placeholder="Plh"/></p>
<label for="plhsch"> pipe*sch </label><br/>
<p><input id="plhsch" name="PlhSch" placeholder="PlhSch"/></p>
<label for="plhweight"> at unit weight of </label><br/>
<p><input id="plhweight" name="PlhWeight" placeholder="PlhWeight..."/></p>
<label for="pll"> Pontoon leg length </label><br/>
<p><input id="pll" name="Pll" onchange="pontoonLegs()" placeholder="Pll"/></p>
<label for="plhl"> Pontoon leg housing length </label><br/>
<p><input id="plhl" name="Plhl" onchange="pontoonLegsHousing()" placeholder="Plhl"/></p>
