

<h1>ROOF SUPPORT LEG DESIGN</h1>
<label for="slz">Support leg size,slz</label><br/>
<p><input id="slz" name="slz" placeholder="Support leg size,slz"/></p>
<label for="pod">Pipe outside diameter,pod</label><br/>
<p><input id="pod" name="pod" /></p>
<label for="pth">Pipe Thickness,Pth</label><br/>
<p><input id="pth" onchange="part4()" /></p>
<label for="pid">Pipe inside diameter,pid</label><br/>
<p><input id="pid" readonly /></p>
<label for="aleg">Pipe area,Aleg</label><br/>
<p><input id="aleg" readonly/></p>
<label for="rg">Radius of gyration,r</label><br/>
<p><input id="rg" /></p>
<label for="materialOfConstruction2">Meterial of construction</label><br/>
<p>
    <select class="active" id="materialOfConstruction2" name="materialOfConstruction" onchange="materialValues2()">
        <option style="align-self: center" value="A283M Gr C">Select a Material</option>
        <option value="A283M Gr C">A283M Gr C</option>
        <option value="A285M Gr C">A285M Gr C</option>
        <option value="A131M  A">A131M  A</option>
        <option value="A36M">A36M</option>
        <option value="A131M  B">A131M B</option>
        <option value="A131M Gr EH36">A131M Gr EH36</option>
        <option value="A573M Gr 400">A573M Gr 400</option>
        <option value="A573M Gr 450">A573M Gr 450</option>
        <option value="A573M Gr 485">A573M Gr 485</option>
        <option value="A516M Gr 380">A516M Gr 380</option>
        <option value="A516M Gr 415">A516M Gr 415</option>
        <option value="A516M Gr 450">A516M Gr 450</option>
        <option value="A516M Gr  485">A516M Gr  485</option>
        <option value="A662M Gr B">A662M Gr B</option>
        <option value="A662M Gr C">A662M Gr C</option>
        <option value="A537M Gr 1"> A537M Gr 1 </option>
        <option value=" A537M Gr 2"> A537M Gr 2 </option>
        <option value=" A633M Gr C"> A633M Gr C </option>
        <option value="A633M Gr D"> A633M Gr D </option>
        <option value="A737M Gr B">  A737M Gr B </option>
        <option value="A841M Classe 1 Gr A"> A841M Classe 1 Gr A </option>
        <option value="A841M Classe 1 Gr B"> A841M Classe 1 Gr B </option>
        <option value="A841M Classe 2 Gr A"> A841M Classe 2 Gr A </option>
        <option value="A841M Classe 2 Gr B"> A841M Classe 2 Gr B </option>
        <option value="G40.21M 260W">G40.21M 260W  </option>
        <option value="G40.21M 260WT">G40.21M 260WT  </option>
        <option value="G40.21M 300W"> G40.21M 300W </option>

        <option value="G40.21M 300WT"> G40.21M 300WT </option>
        <option value="G40.21M 350W"> G40.21M 350W </option>
        <option value="G40.21M 350WT"> G40.21M 350WT </option>
        <option value="NS 235">NS 235  </option>
        <option value="NS 250">  NS 250</option>
        <option value="NS 275">NS 275  </option>
        <option value="ISO 630 S275 C"> ISO 630 S275 C </option>
        <option value="ISO 630 S275 D">  </option>
        <option value="ISO 630 S355 C">ISO 630 S355 C  </option>
        <option value="ISO 630 S355 D">  ISO 630 S355 D</option>
        <option value="EN 10025 S275 J0"> EN 10025 S275 J0 </option>
        <option value="EN 10025 S275 J2"> EN 10025 S275 J2 </option>
        <option value="EN 10025 S355 J0"> EN 10025 S355 J0 </option>
        <option value="EN 10025 S355 J2"> EN 10025 S355 J2 </option>
        <option value="EN 10025 S355 K2"> EN 10025 S355 K2 </option>
        <option value="ASTM A27M 60-30"> ASTM A27M 60-30 </option>
        <option value="ASTM A27M 65-35"> ASTM A27M 65-35 </option>
        <option value="Astm A216M WCB">Astm A216M WCB  </option>
        <option value="Astm A216M WCC"> Astm A216M WCC </option>
        <option value="Astm A216M WCA"> Astm A216M WCA </option>
        <option value="ASTM A240M 304">  ASTM A240M 304</option>
        <option value="ASTM A240M 316L">  ASTM A240M 316L</option>
        <option value="ASTM A240M 321"> ASTM A240M 321 </option>
        <option value="ASTM A240M 904"> ASTM A240M 904L </option>
        <option value="ASTM A240M UNS S31254">  ASTM A240M UNS S31254</option>
    </select>
</p>
<label for="specificMinimumYieldStress2"> Specific minimum Yield Stress,Sy </label><br/>
<p><input id="specificMinimumYieldStress2" name="specificMinimumYieldStress" placeholder="specificMinimumYieldStress..."
          readonly=""/></p>
<label for="modulusOfElasticity2">Modulus of Elasticity </label><br/>
<p><input id="modulusOfElasticity2" name="modulusOfElasticity" placeholder="modulusOfElasticity" readonly=""/></p>
<label for="pplate2">Density of Material,ρ(plate) </label><br/>
<p><input id="pplate2" name="densityOfMaterial" placeholder="densityOfMaterial" readonly=""/></p>
