
<h1>ROOF SUPPORT LEG DESIGN</h1>
<label for="slz">Support leg size,slz</label><br/>
<p><input id="slz" name="slz" placeholder="Support leg size,slz"/></p>
<label for="pod">Pipe outside diameter,pod</label><br/>
<p><input id="pod" name="pod" /></p>
<label for="pth">Pipe Thickness,Pth</label><br/>
<p><input id="pth" /></p>
<label for="pid">Pipe inside diameter,pid</label><br/>
<p><input id="pid" readonly /></p>
<label for="aleg">Pipe area,Aleg</label><br/>
<p><input id="aleg" readonly/></p>
<label for="rg">Radius of gyration,r</label><br/>
<p><input id="rg" readonly/></p>
<label for="materialOfConstruction2">Meterial of construction</label><br/>
<p>
    <select class="active" id="materialOfConstruction2" name="materialOfConstruction" onchange="materialValues()">
        <option style="align-self: center" value="A283M Gr C">Select a Material</option>
        <option value="A283M Gr C">A283M Gr C</option>
        <option value="A285M Gr C">A285M Gr C</option>
    </select>
</p>
<label for="specificMinimumYieldStress2"> Specific minimum Yield Stress,Sy </label><br/>
<p><input id="specificMinimumYieldStress2" name="specificMinimumYieldStress" placeholder="specificMinimumYieldStress..."
          readonly=""/></p>
<label for="modulusOfElasticity2">Modulus of Elasticity </label><br/>
<p><input id="modulusOfElasticity2" name="modulusOfElasticity" placeholder="modulusOfElasticity" readonly=""/></p>
<label for="pplate2">Density of Material,ρ(plate) </label><br/>
<p><input id="pplate2" name="densityOfMaterial" placeholder="densityOfMaterial" readonly=""/></p>
