<h2>GEOMETRY DATA</h2>
<label for="hor"> Outer Rim Height, Hor </label><br/>
<p><input id="hor" name="outerRimHeight" placeholder="OuterRimHeight..."/></p>
<label for="hir"> Inner Rim Height, Hir </label><br/>
<p><input id="hir" name="innerRimHeight" placeholder="innerRimHeight..."/></p>
<label for="w"> Pontoon width, w </label><br/>
<p><input id="w" name="pontoonWidth" placeholder="pontoonWidth..."/></p>
<label for="rg"> Rim Gap, </label><br/>
<p><input id="rg" name="rimGap" placeholder="rimGap..."/></p>
<label for="hext"> Outer Rim Extend above pontoon, Hext </label><br/>
<p><input id="hext" name="outerRimExtendAbovePontoon" placeholder="outerRimExtendAbovePontoon"/></p>
<label for="n"> No. of Pontoons, N </label><br/>
<p><input id="n" name="noOfPontoons" placeholder="noOfPontoons"/></p>
<label for="oor" id="oor0"> Outer Rim Diameter, Øor </label><br/>
<p><input id="oor" name="outerRimDiameter" placeholder="outerRimDiameter" readonly=""/></p>
<label for="oir" id="oir0"> Inner Rim Diameter, Øir </label><br/>
<p><input id="oir" name="innerRimDiameter" placeholder="innerRimDiameter..." readonly=""/></p>
<label for="boh" id="boh0"> Bulkhead Outer heigh </label><br/>
<p><input id="boh" name="Boh" placeholder="Bulkhead Outer heigh..." readonly=""/></p>
<label for="bih" id="bih0"> Bulkhead Inner heigh </label><br/>
<p><input id="bih" name="Bih" placeholder="Bulkhead Inner heigh..." readonly=""/></p>
<label for="wb" id="wb0"> Bulkhead Width, wb </label><br/>
<p><input id="wb" name="wb" placeholder="Bulkhead Width..." readonly=""/></p>
